<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>Audealize Reverb</string>
    <key>CFBundleDisplayName</key>
    <string>Audealize Reverb</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.1b</string>
    <key>CFBundleVersion</key>
    <string>0.2.1b</string>
    <key>NSHumanReadableCopyright</key>
    <string>Northwestern University Interactive Audio Lab</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Interactive Audio Lab: Audealize Reverb</string>
        <key>description</key>
        <string>Audealize Reverb</string>
        <key>factoryFunction</key>
        <string>AudealizeReverbAUFactory</string>
        <key>manufacturer</key>
        <string>IALx</string>
        <key>type</key>
        <string>aufx</string>
        <key>subtype</key>
        <string>adlv</string>
        <key>version</key>
        <integer>513</integer>
      </dict>
    </array>
  </dict>
</plist>
